# git ignore file
0
.vs
~*
*.pdb
appsettings.json
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/Views/CommodityCodeSelect/Index - 复制.cshtml
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportTemplates/管道综合材料表/aa.xlsx
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportTemplates/管道综合材料表/aa.xslx
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportTemplates/管道综合材料表/物料表.xlsx
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportDownload
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportTemplates/Download
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportTemplates/管道综合材料表/选码平台_mto模板.xls
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportJson/Test1/BYC/导出报表_Test1_BYC_sassasas_52_admin_20200315092147.json
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportJson/
/src/MaterialCodeSelectionPlatform/MaterialCodeSelectionPlatform.Web/ReportTemplates/管道综合材料表
