
@{
    Layout = "~/Views/Shared/_Layout_Body.cshtml";
}
@using MaterialCodeSelectionPlatform.Domain.Entities
@model IEnumerable<CommodityCodeAttribute>

<link href="~/css/formSelects-v4.css" rel="stylesheet" />
<script src="~/js/jsencrypt.min.js"></script>
<form class="layui-form layui-form-model" action="">
    @Html.AntiForgeryToken()@*隐藏域，用于防CSRF攻击*@
    <input type="hidden" name="Id" value="@ViewData["id"]" />
    <div class="layui-row">   
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">                   
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>属性名</th>
                        <th>属性值 </th>                    
                    </tr>
                </thead>
                <tbody>                   
                    @{
                        foreach (var attr in Model)
                        {
                            <tr>
                                <td>@attr.AttributeName</td>
                                <td>@attr.AttributeValue</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</form>

<script src="~/js/jsencrypt.min.js"></script>
<script type="text/javascript">


</script>