
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>材料选码平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">

</head>
<body class="layui-layout-body">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <!-- 头部区域 -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>/
                        </a>
                    </li>
                    @*<li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>*@
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                    @*<li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
                    </li>*@
                </ul>
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="template-1" onclick="sysData()" title=" 同步编码库">
                            <i class="layui-icon layui-icon-template-1"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="theme" title="更换皮肤">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                   
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="fullscreen"  title="全屏显示">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;">
                            <cite>@ViewData["Name"]</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a onclick="changePwd()" href = "javascript:;">修改密码</a></dd>
                            <hr>
                            <dd  style="text-align: center;"  onclick="logout()"><a href = "javascript:;" >退出</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item layui-hide-xs" lay-unselect style="width: 10px;">
                        @*<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>*@
                    </li>
                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                        <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="/User/Index">
                        <div style="float: left;">
                            <img src="/icon.png" style="width: 30px;"/>
                            <span>材料选码平台</span>
                        </div>
                       
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        @if (ViewData["Role"] != null && (ViewData["Role"].ToString() == "0" || ViewData["Role"].ToString() == "1"))
                        {
                            <li data-name="get" class="layui-nav-item">
                                <a href="javascript:;" lay-href="/User/Index" lay-tips="用户管理" lay-direction="2">
                                    <i class="layui-icon layui-icon-user"></i>
                                    <cite>用户管理</cite>
                                </a>
                            </li>
                            <li data-name="get" class="layui-nav-item">
                                <a href="javascript:;" lay-href="/Project/Index" lay-tips="项目管理" lay-direction="2">
                                    <i class="layui-icon layui-icon-app"></i>
                                    <cite>项目管理</cite>
                                </a>
                            </li>
                            <li data-name="get" class="layui-nav-item">
                                <a href="javascript:;" lay-href="/Device/Index" lay-tips="装置管理" lay-direction="2">
                                    <i class="layui-icon layui-icon-component"></i>
                                    <cite>装置管理</cite>
                                </a>
                            </li>
                        }

                        <li data-name="get" class="layui-nav-item">
                            <a href="javascript:;" lay-href="/CommodityCodeSelect/Index" lay-tips="物资选码" lay-direction="2">
                                <i class="layui-icon layui-icon-auz"></i>
                                <cite>物资选码</cite>
                            </a>
                        </li>

                        <li data-name="get" class="layui-nav-item">
                            <a href="javascript:;" lay-href="/CommodityCodeSelect2/Index" lay-tips="Demo" lay-direction="2">
                                <i class="layui-icon layui-icon-auz"></i>
                                <cite>Demo</cite>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">.

                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="/User/Index" lay-attr="/User/Index" class="layui-this">用户管理</li>
                    </ul>
                </div>
            </div>


            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show" style="background-color: white">
                    <iframe src="/User/Index" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>

    <script src="~/layuiadmin/layui/layui.js"></script>
<script>

    function closeiframe(msg) {
        layer.closeAll('iframe');
        if (msg) {
            layer.msg(msg);
        }
    }
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    layui.use(['layer', 'jquery'],
        function () {
            var layer = layui.layer;
            var $ = layui.jquery;
            window.logout = function () {
                layer.confirm('确定退出吗', function (index) {
                    $.ajax({
                        url: "/Login/LoginOut?pt=" + Math.random(),
                        success: function (data) {
                            if (data == "success") {
                                window.location.href = "/Login/Index";
                            }
                        },
                        error: function (errorData) {
                            debugger;
                        }
                    })
                });

            }


                
            //跳转页面
            window.locationPage = function (featureid) {

                var deviceLi = $("li[lay-id='/Device/Index']");
                if (deviceLi.length > 0) {
                    deviceLi.find("i").click();
                }
                    
                //$("li[lay-attr='/Device/Index']").remove();
                var dom = $('a[lay-tips=' + featureid + ']');
                   
                dom.trigger('click');
                //dom.attr("lay-href", url);
                  

            }





            window.changePwd = function () {
                layer.open({
                    type: 2,
                    content: '/Home/ChangePwd?' + Math.random(),
                    title: '修改密码',
                    area: ["400px;", "280px;"]//宽 高
                });

            }

            window.sysData = function()
            {
                $.ajax({
                    url: '/Home/StartDealProgress?' + Math.random(),
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            layer.open({
                                type: 2,
                                content: '/Home/SysDataInfo',
                                title: '同步进度',
                                area: ["300px;", "100px;"]//宽 高
                            });
                        } else {
                            layer.msg("同步启动失败", { icon: 5 });
                        }
                    }
                });
               
            }

            //根据保存的地址F5只刷新当前页面

            var menus = $("[url]");
            //var storage = window.sessionStorage;
            menus.each(function () {
                var url = $(this).attr('url'); //当前url
                var li = $(this).parent().parent().parent();
                var dd = $(this).parent();
                if ($.cookie('historyUrl') != "" && $.cookie('historyUrl') != null && $.cookie('historyUrl') != 'null') {
                    if ($.cookie('historyUrl').indexOf('Login/Index') > 0) { //刚登录默认首页
                        if (url.indexOf('SystemHome/Index') > 0) {
                            li.addClass("layui-nav-itemed")
                            dd.addClass("layui-this")
                            $(this).trigger('click');
                            return false;
                        }
                    }
                    else {
                        if ($.cookie('historyUrl').indexOf(url) > 0) { //根据历史记录加载页面
                            li.addClass("layui-nav-itemed")
                            dd.addClass("layui-this")
                            $(this).click();
                            return false;
                        }

                    }
                }

            })



        });
</script>
</body>
</html>


