@using MaterialCodeSelectionPlatform.Web.Utilities

@{
    Layout = "~/Views/Shared/_Layout_Body.cshtml";
}

<div class="layui-form layui-form-model" >
    <div class="layui-form-item" style="padding:5px">
        <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="progressDemo" >
            <div class="layui-progress-bar layui-bg-green"   lay-percent="0%"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['form', 'layer','element'],
        function() {
            var form = layui.form;
            var $ = layui.jquery;
            var layer = layui.layer;
            var element = layui.element;
         
            form.render();
          

            var tt = setInterval(function () {
        
                $.ajax({
                    url: '/Home/GetDealProgress?' + Math.random(),
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            element.progress('progressDemo', data.Data + '%');
                            if (data * 1 == 100) {
                                clearInterval(tt);
                            }
                        } else {
                            
                        }
                    },
                    error: function(errorData) {
                        debugger;
                    }
                });


            },1000);

           

        });

</script>
